# Capstone 2 - Lending Club Loan Defaults Prediction
Sudha Kumar
7/13/2020

Data URL - https://www.kaggle.com/wendykan/lending-club-loan-data

## Data Wrangling
Data wrangling is the second step in the Data Science Method. This step consists of multiple components including Data Collection, Data Organization, Data Definitions, and Data Cleaning.

In [1]:
#load python packages
import os
import pandas as pd
import pandas.api.types as ptypes
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

### Data Collection 
Read data from "loan.csv" file.

In [40]:
df = pd.read_csv("loan.csv")
df.head(5)

C:\Users\Umesh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

#### Handle mixed data types in Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141)

In [41]:
col_names = df.columns
col_names

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [42]:
col_names[19]

'desc'

In [43]:
df['desc'].unique()

array([nan, ' ',
       "I currently have a loan out with CashCall. The interest rate is 96%! At the time I took out the loan, it helped with a family crisis, but now the interest is crazy to be paying. I'd rather be paying my $200 a month to pay down a loan rather than just the interest.   Also, the remainder of my debt has interest rates ranging from 20 - 24%. This includes credit cards, a student loan, and some personal loans. So, I would like to consolidate the rest of my debt and pay a lower interest rate of 15%.  By doing this, I could lower my interest and my monthly payments and save at least $4000 over the next few years.  I do have a bankruptcy that was discharged 3 years ago due to having $40,000 in debt from an uninsured hospital stay. However, I've not missed a payment on anything since.  My credit report does from time time to time relist things as collections and then I have to dispute them as included in bankruptcy and they go back to being listed that way. I'm not sure why the status gets messed up sometimes.   Thank you for your time and consideration! ",
       ...,
       'I need to pay $2,100 for fixing my Volvo :)  Any help appreciated!',
       "Hi,   I'm buying  a used car. Anybody on facebook wants to finance me?   Thanks",
       'I need to make several improvements around the house - fix garage, fix back fencing, and misc other.'],
      dtype=object)

In [44]:
col_names[47]

'next_pymnt_d'

In [45]:
df['next_pymnt_d'].unique()

array(['Mar-2019', nan, 'Feb-2019', 'Apr-2019', 'Dec-2018', 'Sep-2018',
       'Aug-2018', 'Feb-2018', 'Jan-2016', 'Sep-2013', 'Feb-2016',
       'Feb-2014', 'May-2014', 'Jun-2013', 'Mar-2012', 'Apr-2012',
       'May-2013', 'Aug-2012', 'Aug-2013', 'Jun-2012', 'Nov-2013',
       'Feb-2012', 'Oct-2011', 'Jan-2013', 'Jan-2014', 'Jul-2013',
       'Jul-2015', 'Jan-2012', 'Dec-2012', 'Jun-2011', 'Feb-2013',
       'Nov-2011', 'Nov-2012', 'Dec-2011', 'Aug-2011', 'Sep-2011',
       'Apr-2011', 'Mar-2014', 'Apr-2013', 'Mar-2011', 'Jul-2012',
       'Aug-2014', 'Oct-2013', 'Sep-2012', 'May-2012', 'Apr-2015',
       'Jul-2011', 'Dec-2015', 'Dec-2013', 'Jan-2011', 'Oct-2012',
       'Nov-2014', 'Mar-2013', 'Aug-2015', 'Feb-2015', 'May-2015',
       'Jul-2014', 'Nov-2015', 'Sep-2014', 'Oct-2015', 'May-2011',
       'Feb-2011', 'Dec-2014', 'Jun-2015', 'Apr-2014', 'Jan-2015',
       'Sep-2015', 'Jun-2014', 'Nov-2010', 'Oct-2010', 'Dec-2010',
       'Mar-2015', 'Oct-2014', 'Jul-2010', 'Sep-2010', 'May-2010',
       'Aug-2010', 'Mar-2010', 'Jun-2010', 'Apr-2010', 'Feb-2010',
       'Dec-2009', 'Nov-2009', 'Oct-2009', 'Jan-2010', 'Sep-2009',
       'Jun-2009', 'Aug-2009', 'Jul-2009', 'May-2009', 'Apr-2009',
       'Jan-2009', 'Oct-2008', 'Feb-2009', 'Nov-2008', 'Sep-2008',
       'Mar-2009', 'Dec-2008', 'Aug-2008', 'Jun-2008', 'Jul-2008',
       'Apr-2008', 'May-2008', 'Feb-2008', 'Jan-2008', 'Mar-2008'],
      dtype=object)

In [46]:
col_names[55]

'verification_status_joint'

In [47]:
df['verification_status_joint'].unique()

array([nan, 'Verified', 'Not Verified', 'Source Verified'], dtype=object)

In [48]:
col_names[112]

'sec_app_earliest_cr_line'

In [49]:
df['sec_app_earliest_cr_line'].unique()

array([nan, 'May-2002', 'Aug-2003', 'May-2003', 'Oct-1999', 'Dec-1996',
       'May-2007', 'Oct-2006', 'Nov-1996', 'Jul-1997', 'Apr-1990',
       'Jul-2006', 'Jan-2005', 'Jan-2008', 'Jun-2003', 'Apr-2003',
       'Mar-2008', 'Sep-2005', 'Nov-2001', 'Nov-2006', 'Jan-2016',
       'Aug-1998', 'Sep-2004', 'Mar-2005', 'Jun-2002', 'Jan-2009',
       'Jun-2013', 'Feb-1999', 'Sep-1985', 'Oct-1993', 'Oct-2004',
       'Jun-2004', 'Feb-2004', 'Apr-2000', 'May-2006', 'Aug-1989',
       'Sep-2011', 'Nov-2002', 'Feb-2015', 'Aug-1972', 'Jul-2008',
       'Feb-1985', 'Feb-2008', 'Sep-2002', 'Jul-1998', 'Jan-1988',
       'Dec-2005', 'Jun-1988', 'Feb-2009', 'May-2000', 'Feb-1992',
       'Oct-1996', 'Sep-2006', 'Nov-2010', 'Nov-2003', 'Jun-2006',
       'May-2011', 'Nov-1988', 'Jul-1991', 'Apr-1991', 'Dec-1998',
       'Aug-2010', 'Mar-2007', 'Feb-2007', 'Nov-2008', 'Mar-2009',
       'Mar-1997', 'Oct-2009', 'Oct-2007', 'Jan-1999', 'Dec-2002',
       'Aug-2005', 'Jul-2010', 'Jul-2001', 'Sep-2016', 'Jan-2006',
       'Apr-2006', 'Jun-2005', 'May-1996', 'Jan-2012', 'Dec-2000',
       'Jul-1999', 'Jan-2001', 'Oct-2008', 'Aug-2011', 'Nov-2007',
       'Apr-2007', 'Aug-2012', 'Jun-1986', 'Oct-2005', 'Feb-1995',
       'Dec-2006', 'Dec-2001', 'Dec-2004', 'Aug-1993', 'Jul-2002',
       'Sep-1997', 'Nov-1994', 'Sep-1995', 'Mar-2000', 'Dec-2011',
       'Feb-2018', 'Aug-2007', 'Mar-2014', 'Jul-2007', 'Aug-2006',
       'Sep-1996', 'Dec-1987', 'Mar-1989', 'Jul-1979', 'Jun-2001',
       'Jan-2007', 'May-1994', 'Dec-1981', 'Nov-2005', 'Sep-2001',
       'Oct-1992', 'Sep-2013', 'Feb-2011', 'Feb-1981', 'May-1993',
       'Mar-2004', 'Sep-2003', 'Jul-2011', 'Jun-2000', 'Mar-1985',
       'Sep-2007', 'Sep-2015', 'Aug-1999', 'May-2014', 'Oct-1990',
       'Sep-2008', 'Sep-1999', 'Dec-2007', 'Nov-2000', 'Aug-2008',
       'Aug-1988', 'Jan-1993', 'Apr-2001', 'Jan-2014', 'Mar-2013',
       'Jun-1997', 'Nov-2015', 'Mar-1988', 'Jul-2004', 'Dec-1994',
       'Oct-2002', 'Sep-2000', 'Feb-2006', 'May-1986', 'Jun-2008',
       'Aug-2009', 'Apr-2005', 'Nov-1998', 'Feb-1996', 'Mar-1999',
       'May-2005', 'Nov-1993', 'Aug-2002', 'Feb-2000', 'Jan-2011',
       'Dec-2010', 'Oct-2000', 'Jun-1999', 'May-1987', 'Nov-2004',
       'Aug-2000', 'Feb-1979', 'Jun-2007', 'Mar-2006', 'Jul-1995',
       'Oct-2003', 'Apr-1996', 'Sep-2017', 'Oct-1997', 'Dec-2003',
       'Apr-2011', 'Dec-1989', 'Jun-2015', 'Nov-1995', 'Jul-2005',
       'Aug-1997', 'Sep-1988', 'Feb-2002', 'Jan-2015', 'Sep-1998',
       'Nov-2013', 'Jul-2003', 'Jun-2010', 'May-2009', 'Jul-1990',
       'May-1992', 'Jul-1996', 'Feb-1991', 'Oct-1987', 'Mar-1998',
       'Oct-1981', 'Oct-2016', 'Nov-1985', 'Dec-1999', 'Aug-2001',
       'Feb-2001', 'Mar-2001', 'Mar-1991', 'Nov-1990', 'Aug-2013',
       'May-2012', 'Mar-2002', 'Jun-1995', 'Jul-1994', 'Apr-2010',
       'May-1995', 'May-2008', 'Aug-1992', 'Nov-2009', 'Jun-1991',
       'Oct-1995', 'Feb-2014', 'Nov-2016', 'Mar-1996', 'Aug-2016',
       'Jul-2000', 'Dec-2008', 'Jan-1990', 'Apr-2009', 'Feb-2010',
       'Mar-1976', 'Jan-1978', 'Mar-2010', 'Dec-2009', 'Feb-1998',
       'Mar-2003', 'Dec-1986', 'Jan-2002', 'Nov-1987', 'Dec-1978',
       'Oct-2013', 'Nov-1999', 'Oct-2001', 'Mar-1992', 'Jan-1989',
       'Apr-2002', 'Feb-2003', 'Apr-2015', 'Apr-1988', 'Jun-1982',
       'Sep-2012', 'May-1991', 'Nov-1989', 'Sep-2014', 'Jan-1994',
       'Oct-1989', 'Oct-2010', 'May-2004', 'Oct-1994', 'Apr-2016',
       'Oct-1991', 'May-1990', 'Jan-1984', 'Jun-1990', 'Apr-1997',
       'Mar-2015', 'Jun-2011', 'Oct-2012', 'Dec-2016', 'Feb-2005',
       'Mar-1969', 'Aug-1991', 'Jun-2012', 'Mar-1994', 'Feb-1994',
       'Aug-2014', 'Mar-1993', 'May-2016', 'May-1982', 'Oct-2011',
       'Apr-1993', 'Jan-2003', 'Sep-2009', 'Sep-1994', 'Dec-1984',
       'Jan-1971', 'Jul-2012', 'Jun-1994', 'Dec-1988', 'Mar-1978',
       'Apr-1977', 'Jan-1998', 'Feb-2012', 'May-2001', 'Dec-1997',
       'Sep-1990', 'Nov-2017', 'Dec-2013', 'Jan-2018', 'Jul-1987',
       'Nov-2014', 'May-1988', 'Aug-2004', 'Nov-2011', 'Apr-1995',
       'Jul-2009', 'Jun-1979', 'Jan-2017', 'Dec-1995', 'Mar-2012',
       'Apr-2013', 'Mar-2011', 'Jan-1996', 'Jul-1989', 'Mar-1995',
       'Sep-1993', 'May-2015', 'Jun-2018', 'Jan-2004', 'Jul-2014',
       'Apr-1986', 'Sep-1992', 'Nov-2012', 'May-1997', 'Nov-1997',
       'May-1985', 'Apr-2004', 'Jun-1993', 'Jun-2014', 'Aug-1996',
       'Feb-1997', 'Mar-1990', 'Apr-1999', 'Mar-1970', 'Dec-2012',
       'Feb-2013', 'Jan-1981', 'Oct-1983', 'Jun-2009', 'Feb-1993',
       'Apr-2014', 'Jan-1985', 'Jul-2016', 'Apr-1998', 'Sep-2010',
       'Aug-1973', 'Apr-2018', 'Apr-1994', 'May-1999', 'Sep-1987',
       'Oct-2015', 'Jun-2016', 'Jan-1974', 'Nov-1983', 'Dec-1991',
       'Oct-1980', 'Mar-1974', 'Sep-1970', 'May-2010', 'Jan-2010',
       'Sep-1984', 'Aug-1995', 'Apr-1992', 'Jun-1985', 'Aug-2015',
       'May-2013', 'Jul-1993', 'Apr-2008', 'Jul-2013', 'Jan-1992',
       'Mar-2018', 'Jun-1973', 'Oct-1998', 'Nov-1992', 'Aug-1994',
       'Jul-1977', 'Aug-1990', 'Oct-1979', 'Jan-2000', 'Dec-1976',
       'Jun-1998', 'Feb-1990', 'Jul-2017', 'Jun-1976', 'May-1984',
       'Apr-1976', 'Dec-2014', 'Jan-1969', 'May-1998', 'Sep-1989',
       'Dec-1972', 'Jun-1978', 'Feb-1989', 'Jun-2017', 'Jul-1974',
       'Apr-2012', 'Jan-1997', 'Jun-1996', 'May-2017', 'Nov-1976',
       'May-1977', 'Apr-1979', 'Aug-1983', 'Jul-1975', 'Oct-1985',
       'Apr-1984', 'Oct-1986', 'Jan-1991', 'Jun-1981', 'Sep-1986',
       'Oct-1982', 'Sep-1983', 'Jan-1995', 'May-1964', 'Jan-2013',
       'May-2018', 'Nov-1984', 'Dec-1975', 'Dec-2015', 'Apr-1985',
       'Apr-2017', 'May-1989', 'Feb-2017', 'Oct-2017', 'Nov-1991',
       'Oct-1984', 'Dec-1980', 'Sep-1991', 'Jul-1986', 'Apr-1963',
       'Jun-1987', 'Feb-1963', 'Feb-1976', 'Aug-1987', 'Jan-1986',
       'Oct-1972', 'Mar-1982', 'Jun-1971', 'Jul-1985', 'Mar-1984',
       'Aug-2017', 'Oct-2014', 'Feb-1983', 'Jan-1987', 'Dec-1992',
       'Apr-1964', 'Jul-2015', 'Aug-1981', 'Nov-1981', 'Apr-1983',
       'Nov-1975', 'Nov-1978', 'Mar-1986', 'Jun-1989', 'Dec-1993',
       'Jul-1992', 'May-1978', 'Apr-1987', 'Jul-1988', 'Mar-1987',
       'Apr-1989', 'Sep-1978', 'Jul-1973', 'Aug-1979', 'Jan-1982',
       'Mar-2016', 'Dec-1990', 'Dec-1973', 'May-1973', 'Oct-1976',
       'Aug-1986', 'Apr-1971', 'Aug-1978', 'Apr-1973', 'Jun-1983',
       'Sep-1982', 'Nov-1982', 'Jun-1975', 'Feb-2016', 'Nov-1973',
       'Feb-1987', 'Jan-1962', 'Feb-1986', 'Apr-1974', 'Jan-1983',
       'Mar-2017', 'Nov-1986', 'Mar-1981', 'Mar-1983', 'Jun-1969',
       'Jul-1983', 'May-1981', 'Apr-1981', 'Aug-1977', 'Oct-1988',
       'May-1975', 'Feb-1975', 'Oct-1977', 'Dec-1983', 'Dec-1966',
       'Nov-1977', 'May-1980', 'Jan-1980', 'Oct-1974', 'Jan-1959',
       'Mar-1980', 'Feb-1978', 'Jul-1964', 'Jul-1972', 'Dec-1982',
       'Apr-1982', 'Jun-1974', 'Sep-1979', 'Jun-1992', 'Dec-2017',
       'Aug-1984', 'Aug-1985', 'Mar-1977', 'Apr-1980', 'Sep-1974',
       'Sep-1975', 'Jul-1976', 'Feb-1982', 'Dec-1974', 'Aug-1967',
       'Jul-1984', 'Sep-1980', 'Feb-1980', 'Nov-1979', 'Oct-1978',
       'Dec-1979', 'Nov-1980', 'Aug-1982', 'Jun-1964', 'Jun-1984',
       'Nov-1974', 'Mar-1979', 'Sep-1971', 'Aug-1968', 'Aug-1974',
       'Oct-1969', 'Sep-1977', 'Mar-1968', 'Aug-1980', 'Dec-1985',
       'Feb-1988', 'May-1983', 'Jan-1960', 'Nov-1972', 'Feb-1984',
       'Jan-1970', 'Jun-1980', 'Sep-1981', 'Aug-1971', 'Sep-1973',
       'Jun-1977', 'Aug-1964', 'Feb-1974', 'Feb-1973', 'Dec-1970',
       'Aug-1975', 'Feb-1967', 'Mar-1973', 'Feb-1977', 'Oct-1973',
       'May-1974', 'Dec-1971', 'May-1966', 'Jan-1979', 'Mar-1975',
       'Jul-1981', 'Jan-1972', 'Jan-1975', 'Aug-1970', 'Aug-1969',
       'Jan-1967', 'Dec-1977', 'Oct-1970', 'Apr-1975', 'Jan-1976',
       'Nov-1970', 'Apr-1968', 'Aug-1976', 'Jul-1982', 'Oct-1966',
       'Jul-1978', 'Apr-1970', 'Dec-1967', 'Jul-1980', 'May-1979',
       'May-1972', 'Jul-1961', 'Jan-1973', 'Apr-1969', 'Apr-1972',
       'Feb-1970', 'Jan-1966', 'Feb-1972', 'Apr-1978', 'Feb-1968',
       'Jul-1970', 'Dec-1968', 'Jun-1958', 'Mar-1971', 'Jul-1968',
       'Nov-1966', 'Oct-1962', 'Jan-1977', 'Jun-1966', 'Aug-1963',
       'Aug-1965', 'May-1970', 'May-1976', 'Mar-1967', 'Oct-1963',
       'Jun-1968', 'Nov-1965', 'Oct-1968', 'Oct-1975', 'Jan-1961',
       'Apr-1965', 'Sep-1976', 'Dec-1969', 'Nov-1964', 'Jun-1965',
       'Dec-1960', 'Jul-1969', 'Jul-1966', 'Oct-1964', 'Jun-1970',
       'May-1971', 'Jan-1968', 'Jan-1965', 'Sep-1969', 'Mar-1966',
       'Mar-1964', 'Aug-1966', 'May-1963', 'Jun-1967', 'Jul-1967',
       'Nov-1971', 'Nov-1967', 'Oct-1971', 'Mar-1972', 'Dec-1964',
       'Mar-1965', 'Dec-1954', 'Sep-1972', 'Dec-1963', 'Feb-1971',
       'Apr-1966', 'Feb-1969', 'Dec-1965', 'Oct-1965', 'May-1969',
       'Mar-1934', 'Jul-1963', 'Jan-1964', 'Nov-1969', 'Jul-1958',
       'Jan-1951', 'Nov-1962', 'Jun-1972', 'Sep-1964', 'Sep-1967',
       'Jul-1971', 'Jun-1959', 'Sep-1963'], dtype=object)

In [50]:
col_names[123]

'hardship_type'

In [51]:
df['hardship_type'].unique()

array([nan, 'INTEREST ONLY-3 MONTHS DEFERRAL'], dtype=object)

In [52]:
col_names[124]

'hardship_reason'

In [53]:
df['hardship_reason'].unique()

array([nan, 'UNEMPLOYMENT', 'NATURAL_DISASTER', 'EXCESSIVE_OBLIGATIONS',
       'MEDICAL', 'INCOME_CURTAILMENT', 'DISABILITY', 'REDUCED_HOURS',
       'FAMILY_DEATH', 'DIVORCE'], dtype=object)

In [54]:
col_names[125]

'hardship_status'

In [55]:
df['hardship_status'].unique()

array([nan, 'ACTIVE', 'COMPLETED', 'BROKEN'], dtype=object)

In [56]:
col_names[128]

'hardship_start_date'

In [57]:
df['hardship_start_date'].unique()

array([nan, 'Feb-2019', 'Oct-2018', 'Nov-2018', 'Sep-2018', 'Jan-2019',
       'Dec-2018', 'Aug-2018', 'Jul-2018', 'May-2018', 'Sep-2017',
       'Feb-2018', 'Dec-2017', 'Apr-2018', 'Aug-2017', 'Jan-2018',
       'Mar-2018', 'Jun-2018', 'Oct-2017', 'Nov-2017', 'Jul-2017',
       'Jun-2017', 'May-2017', 'Feb-2017', 'Apr-2017', 'Jan-2017',
       'Mar-2017'], dtype=object)

In [58]:
col_names[129]

'hardship_end_date'

In [59]:
df['hardship_end_date'].unique()

array([nan, 'Apr-2019', 'Dec-2018', 'Jan-2019', 'Feb-2019', 'Oct-2018',
       'May-2019', 'Mar-2019', 'Nov-2018', 'Aug-2018', 'Dec-2017',
       'May-2018', 'Nov-2017', 'Mar-2018', 'Jul-2018', 'Apr-2018',
       'Jun-2018', 'Sep-2017', 'Sep-2018', 'Oct-2017', 'Jan-2018',
       'Feb-2018', 'Aug-2017', 'Jul-2017', 'Jun-2017', 'May-2017',
       'Apr-2017', 'Mar-2017'], dtype=object)

In [60]:
col_names[130]

'payment_plan_start_date'

In [61]:
df['payment_plan_start_date'].unique()

array([nan, 'Feb-2019', 'Oct-2018', 'Nov-2018', 'Dec-2018', 'Jan-2019',
       'Sep-2018', 'Mar-2019', 'Aug-2018', 'Jun-2018', 'Sep-2017',
       'Oct-2017', 'Feb-2018', 'Dec-2017', 'May-2018', 'Aug-2017',
       'Jan-2018', 'Mar-2018', 'Apr-2018', 'Nov-2017', 'Jul-2018',
       'Jul-2017', 'Jun-2017', 'May-2017', 'Mar-2017', 'Feb-2017',
       'Apr-2017'], dtype=object)

In [62]:
col_names[133]

'hardship_loan_status'

In [63]:
df['hardship_loan_status'].unique()

array([nan, 'Late (16-30 days)', 'Issued', 'Current',
       'Late (31-120 days)', 'In Grace Period'], dtype=object)

In [64]:
col_names[139]

'debt_settlement_flag_date'

In [65]:
df['debt_settlement_flag_date'].unique()

array([nan, 'Feb-2019', 'Dec-2018', 'Jan-2019', 'Nov-2018', 'Oct-2018',
       'Sep-2018', 'Aug-2018', 'Jul-2018', 'Jun-2018', 'Apr-2018',
       'Dec-2017', 'Feb-2018', 'Sep-2017', 'May-2018', 'Mar-2018',
       'Nov-2017', 'Jan-2018', 'Jun-2017', 'May-2017', 'Jul-2017',
       'Aug-2017', 'Oct-2017', 'Apr-2017', 'Mar-2017', 'Jan-2017',
       'Feb-2017', 'Dec-2016', 'Nov-2016', 'Aug-2016', 'Sep-2016',
       'Jul-2016', 'Oct-2016', 'Jun-2016', 'May-2016', 'Apr-2016',
       'Mar-2016', 'Feb-2016', 'Jan-2016', 'Dec-2015', 'Sep-2015',
       'Oct-2015', 'Aug-2015', 'Jun-2015', 'Feb-2015', 'Nov-2015',
       'May-2015', 'Nov-2014', 'Mar-2015', 'Apr-2015', 'Jul-2015',
       'Jan-2015', 'Dec-2014', 'May-2014', 'Sep-2014', 'Jul-2014',
       'Apr-2014', 'Jun-2014', 'Oct-2014', 'Aug-2014', 'Aug-2013',
       'Mar-2014', 'Jan-2014', 'Nov-2013', 'Oct-2013', 'Feb-2014',
       'Sep-2013', 'Mar-2013', 'Jun-2013', 'Nov-2012', 'Dec-2013',
       'Oct-2012', 'Jun-2012', 'Apr-2013', 'Jul-2013', 'Feb-2012',
       'Sep-2012', 'Feb-2011', 'Dec-2012', 'Oct-2011', 'Feb-2013',
       'Nov-2011', 'Feb-2010'], dtype=object)

In [66]:
col_names[140]

'settlement_status'

In [67]:
df['settlement_status'].unique()

array([nan, 'ACTIVE', 'COMPLETE', 'BROKEN'], dtype=object)

In [68]:
col_names[141]

'settlement_date'

In [69]:
df['settlement_date'].unique()

array([nan, 'Feb-2019', 'Dec-2018', 'Jan-2019', 'Nov-2018', 'Oct-2018',
       'Sep-2018', 'Aug-2018', 'Jul-2018', 'Jun-2018', 'Apr-2018',
       'Aug-2017', 'Nov-2017', 'Jan-2018', 'Jun-2017', 'May-2018',
       'Jul-2017', 'Feb-2018', 'Mar-2018', 'Dec-2017', 'May-2017',
       'Sep-2017', 'Oct-2017', 'Feb-2017', 'Jan-2017', 'Mar-2017',
       'Apr-2017', 'Dec-2016', 'Nov-2016', 'Oct-2016', 'Sep-2016',
       'Aug-2016', 'Jul-2016', 'Jun-2016', 'Apr-2016', 'May-2016',
       'Mar-2016', 'Feb-2016', 'Jan-2016', 'Dec-2015', 'Oct-2015',
       'Sep-2015', 'Aug-2015', 'Nov-2015', 'Jun-2015', 'Jul-2015',
       'May-2015', 'Sep-2014', 'Apr-2015', 'Oct-2014', 'Jan-2015',
       'Mar-2015', 'Feb-2015', 'Nov-2014', 'Aug-2014', 'Dec-2014',
       'Jul-2014', 'Apr-2014', 'Jun-2014', 'Mar-2014', 'May-2014',
       'Feb-2014', 'Jan-2014', 'Nov-2013', 'Oct-2013', 'Dec-2013',
       'Jul-2013', 'Aug-2013', 'Sep-2013', 'Jun-2013', 'Feb-2013',
       'Mar-2013', 'May-2013', 'Nov-2012', 'Dec-2012', 'Apr-2013',
       'Oct-2012', 'May-2012', 'Jun-2012', 'Aug-2012', 'Jan-2012',
       'Sep-2012', 'Oct-2011', 'Feb-2012', 'Jul-2012', 'Feb-2011',
       'Jul-2011', 'Mar-2012', 'Feb-2010', 'Mar-2009'], dtype=object)

#### Re-read data from "loan.csv" by handling mixed data type in Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141)

# Note: Run notebook from here

In [1]:
#load python packages
import os
import pandas as pd
import pandas.api.types as ptypes
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("loan.csv", dtype={'desc':object, 'next_pymnt_d':object, 'verification_status_joint':object, 'sec_app_earliest_cr_line':object, 'hardship_type':object, 'hardship_reason':object, 'hardship_status':object, 'hardship_start_date':object, 'hardship_end_date':object, 'payment_plan_start_date':object, 'hardship_loan_status':object, 'debt_settlement_flag_date':object, 'settlement_status':object, 'settlement_date':object})
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### Data Definition

#### Check column names

In [3]:
columns = df.columns

In [4]:
columns[:40]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv'],
      dtype='object')

In [5]:
columns[40:80]

Index(['total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt'],
      dtype='object')

In [6]:
columns[80:120]

Index(['mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
       'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths'],
      dtype='object')

In [7]:
columns[120:]

Index(['sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

All column names look good.

#### Data types

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [9]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 145, dtype: object

#### Data description

Unique values, Percent of unique values

In [10]:
len(df)

2260668

In [11]:
from pandas.api.types import is_numeric_dtype

column_list = columns.values.tolist()
df_len = len(df)
print("Percentage of unique values for all numeric columns\n")
for column_name in column_list:
    if is_numeric_dtype(df[column_name]):
        print(column_name, df[column_name].unique().size / df_len)

Percentage of unique values for all numeric columns

id 4.4234712925560056e-07
member_id 4.4234712925560056e-07
loan_amnt 0.0006953696871898041
funded_amnt 0.0006953696871898041
funded_amnt_inv 0.004448685078923575
int_rate 0.0002976996179890192
installment 0.04126921777103051
annual_inc 0.03953212059444377
url 4.4234712925560056e-07
dti 0.004797696963906244
delinq_2yrs 1.680919091171282e-05
inq_last_6mths 1.2828066748412415e-05
mths_since_last_delinq 7.69684004904745e-05
mths_since_last_record 5.750512680322807e-05
open_acc 4.069593589151525e-05
pub_rec 1.9463273687246426e-05
revol_bal 0.045230436313514415
revol_util 0.0006329987419647644
total_acc 6.767911077610689e-05
out_prncp 0.1611908515536116
out_prncp_inv 0.16692101626598863
total_pymnt 0.7114145022621632
total_pymnt_inv 0.5746482897975289
total_rec_prncp 0.2156119341716696
total_rec_int 0.27860570415470115
total_rec_late_fee 0.00795826720243751
recoveries 0.056585044774376425
collection_recovery_fee 0.06212721195681984
last_pymnt_amnt 0.30635192783725873
collections_12_mths_ex_med 7.51990119734521e-06
mths_since_last_major_derog 8.13918717830305e-05
policy_code 4.4234712925560056e-07
annual_inc_joint 0.00780034927729326
dti_joint 0.0017777931124782586
acc_now_delinq 4.423471292556006e-06
tot_coll_amt 0.006889556538155979
tot_cur_bal 0.2157278291195346
open_acc_6m 8.846942585112011e-06
open_act_il 2.4329092109058032e-05
open_il_12m 8.846942585112011e-06
open_il_24m 1.4155108136179218e-05
mths_since_rcnt_il 0.00017959293447777382
total_bal_il 0.0717708217217212
il_util 0.00012429954332082377
open_rv_12m 1.3270413877668016e-05
open_rv_24m 2.255970359203563e-05
max_bal_bc 0.01491904162840364
all_util 8.36036074293085e-05
total_rev_hi_lim 0.015137561110255906
inq_fi 1.503980239469042e-05
total_cu_tl 2.7867869143102835e-05
inq_last_12m 2.1675009333524427e-05
acc_open_past_24mths 2.565613349682483e-05
avg_cur_bal 0.0391910709577877
bc_open_to_buy 0.040475204674016704
bc_util 0.0006613089582371228
chargeoff_within_12_mths 5.3081655510672065e-06
delinq_amnt 0.0011580647843911624
mo_sin_old_il_acct 0.00025081082228792554
mo_sin_old_rev_tl_op 0.00034856953785341325
mo_sin_rcnt_rev_tl_op 0.0001477439411713706
mo_sin_rcnt_tl 0.00010306688111655493
mort_acc 2.1232662204268826e-05
mths_since_recent_bc 0.0002419638797028135
mths_since_recent_bc_dlq 7.87377890074969e-05
mths_since_recent_inq 1.1943372489901215e-05
mths_since_recent_revol_delinq 7.96224832660081e-05
num_accts_ever_120_pd 1.9905620816502023e-05
num_actv_bc_tl 1.9020926557990825e-05
num_actv_rev_tl 2.565613349682483e-05
num_bc_sats 2.6983174884591633e-05
num_bc_tl 3.406072895268124e-05
num_il_tl 5.440869689843887e-05
num_op_rev_tl 3.627246459895925e-05
num_rev_accts 5.219696125216086e-05
num_rev_tl_bal_gt_0 2.255970359203563e-05
num_sats 4.069593589151525e-05
num_tl_120dpd_2m 3.5387770340448045e-06
num_tl_30dpd 2.6540827755336032e-06
num_tl_90g_dpd_24m 1.548214952394602e-05
num_tl_op_past_12m 1.503980239469042e-05
pct_tl_nvr_dlq 0.00030566186631562
percent_bc_gt_75 0.00012606893183784616
pub_rec_bankruptcies 5.750512680322807e-06
tax_liens 1.9020926557990825e-05
tot_hi_cred_lim 0.2344320351329784
total_bal_ex_mort 0.09412173746874818
total_bc_limit 0.008984070195181248
total_il_high_credit_limit 0.08587638697942378
revol_bal_joint 0.025158935323541538
sec_app_inq_last_6mths 3.5387770340448045e-06
sec_app_mort_acc 1.0616331102134413e-05
sec_app_open_acc 3.007960478938084e-05
sec_app_revol_util 0.0005383364563040659
sec_app_open_act_il 1.8136232299479624e-05
sec_app_num_rev_accts 3.848420024523725e-05
sec_app_chargeoff_within_12_mths 1.0173983972878812e-05
sec_app_collections_12_mths_ex_med 8.40459545585641e-06
sec_app_mths_since_last_major_derog 6.237094522503968e-05
deferral_term 8.846942585112011e-07
hardship_amount 0.00395944915396688
hardship_length 8.846942585112011e-07
hardship_dpd 1.548214952394602e-05
orig_projected_additional_accrued_interest 0.0032353269033754623
hardship_payoff_balance_amount 0.004685340793075321
hardship_last_payment_amount 0.0038908853489322626
settlement_amount 0.009519310221580524
settlement_percentage 0.0009050422264569588
settlement_term 1.8136232299479624e-05

Verified that 
id,member_id,url have only one unique value null.  
policy_code has only one value 1.
deferral_term, hardship_length have a lot of missing values.

Checking value_counts for 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'last_pymnt_amnt', 'tot_cur_bal', 'tot_hi_cred_lim'.  Percent of unique values in these numeric column > 0.2.

In [12]:
df['total_pymnt'].value_counts(dropna=False)

0.000000        1008
1215.490000      195
1257.300000      176
11258.436374     167
1246.160000      158
                ...
14894.884647       1
10406.139186       1
21227.130000       1
2128.678965        1
15228.956199       1
Name: total_pymnt, Length: 1608272, dtype: int64

In [13]:
df['total_pymnt_inv'].value_counts(dropna=False)

0.00        1286
11431.12     266
11784.23     265
11258.44     234
11471.31     218
            ...
4886.31        1
6199.97        1
30880.54       1
42733.27       1
11658.44       1
Name: total_pymnt_inv, Length: 1299089, dtype: int64

In [14]:
df['total_rec_prncp'].value_counts(dropna=False)

10000.00    78590
12000.00    57687
15000.00    54801
20000.00    53752
5000.00     39524
            ...
6820.25         1
7233.53         1
14953.95        1
2665.43         1
16168.43        1
Name: total_rec_prncp, Length: 487427, dtype: int64

In [15]:
df['total_rec_int'].value_counts(dropna=False)

0.00        2657
1431.12      316
1784.23      310
1955.40      246
956.78       245
            ...
11894.31       1
9150.00        1
9150.25        1
4353.91        1
15609.32       1
Name: total_rec_int, Length: 629835, dtype: int64

In [16]:
df['last_pymnt_amnt'].value_counts(dropna=False)

50.00       3082
0.00        2876
100.00      2061
301.15      1967
332.10      1911
            ...
15769.68       1
1328.35        1
1343.65        1
16441.58       1
16103.18       1
Name: last_pymnt_amnt, Length: 692560, dtype: int64

In [17]:
df['tot_cur_bal'].value_counts(dropna=False)

NaN         70276
0.0           959
14186.0        41
23772.0        39
20275.0        39
            ...
667152.0        1
438541.0        1
438542.0        1
244760.0        1
548896.0        1
Name: tot_cur_bal, Length: 487689, dtype: int64

In [18]:
df['tot_hi_cred_lim'].value_counts(dropna=False)

NaN         70276
12500.0       716
15000.0       712
15500.0       697
19000.0       696
            ...
455948.0        1
455953.0        1
455958.0        1
455964.0        1
426543.0        1
Name: tot_hi_cred_lim, Length: 529973, dtype: int64

In [19]:
df['deferral_term'].value_counts(dropna=False)

NaN    2250055
3.0      10613
Name: deferral_term, dtype: int64

In [20]:
df['hardship_length'].value_counts(dropna=False)

NaN    2250055
3.0      10613
Name: hardship_length, dtype: int64

Describe data.

Check for data validity.

In [21]:
data_desc = df.describe()

The description includes all float64 and int64 data.
Dropping id, member_id columns.

In [22]:
data_desc.drop(['id','member_id'], axis=1, inplace=True)

In [23]:
data_desc = data_desc.T

In [24]:
data_desc

,count,mean,std,min,25%,50%,75%,max
loan_amnt,2260668.0,15046.931228,9190.245488,500.00,8000.00,12900.000,20000.0000,40000.00
funded_amnt,2260668.0,15041.664057,9188.413022,500.00,8000.00,12875.000,20000.0000,40000.00
funded_amnt_inv,2260668.0,15023.437624,9192.331807,0.00,8000.00,12800.000,20000.0000,40000.00
int_rate,2260668.0,13.092913,4.832114,5.31,9.49,12.620,15.9900,30.99
installment,2260668.0,445.807646,267.173725,4.93,251.65,377.990,593.3200,1719.83
...,...,...,...,...,...,...,...,...
hardship_payoff_balance_amount,10613.0,11628.036442,7615.161123,55.73,5628.73,10044.220,16114.9400,40306.41
hardship_last_payment_amount,10613.0,193.606331,198.694368,0.01,43.78,132.890,284.1800,1407.86
settlement_amount,33056.0,5030.606922,3692.027842,44.21,2227.00,4172.855,6870.7825,33601.00
settlement_percentage,33056.0,47.775600,7.336379,0.20,45.00,45.000,50.0000,521.35
settlement_term,33056.0,13.148596,8.192319,0.00,6.00,14.000,18.0000,181.00

Calculate range.

In [25]:
data_desc['range'] = data_desc['max'] - data_desc['min']
data_desc

,count,mean,std,min,25%,50%,75%,max,range
loan_amnt,2260668.0,15046.931228,9190.245488,500.00,8000.00,12900.000,20000.0000,40000.00,39500.00
funded_amnt,2260668.0,15041.664057,9188.413022,500.00,8000.00,12875.000,20000.0000,40000.00,39500.00
funded_amnt_inv,2260668.0,15023.437624,9192.331807,0.00,8000.00,12800.000,20000.0000,40000.00,40000.00
int_rate,2260668.0,13.092913,4.832114,5.31,9.49,12.620,15.9900,30.99,25.68
installment,2260668.0,445.807646,267.173725,4.93,251.65,377.990,593.3200,1719.83,1714.90
...,...,...,...,...,...,...,...,...,...
hardship_payoff_balance_amount,10613.0,11628.036442,7615.161123,55.73,5628.73,10044.220,16114.9400,40306.41,40250.68
hardship_last_payment_amount,10613.0,193.606331,198.694368,0.01,43.78,132.890,284.1800,1407.86,1407.85
settlement_amount,33056.0,5030.606922,3692.027842,44.21,2227.00,4172.855,6870.7825,33601.00,33556.79
settlement_percentage,33056.0,47.775600,7.336379,0.20,45.00,45.000,50.0000,521.35,521.15
settlement_term,33056.0,13.148596,8.192319,0.00,6.00,14.000,18.0000,181.00,181.00

### Data Cleaning

In [26]:
"""
Dropping the following columns
'id' - Has all null values
'member_id' - Has all null values
'url' - Has all null values
'policy_code' - Has only one value '1' for all observations
'desc' - Text descriptions
'emp_title' - Title of employee
'emp_length' - Employment length
'disbursement method' - Cash or Card
'purpose' - Text describing purpose of loan
'earliest_cr_line' - The month the borrower's earliest credit line was opened
'total_rec_late_fee'
'collection_recovery_fee'
'mths_since_rcnt_il'
'open_il_12m'
'open_il_24m'
'open_rv_12m'
'open_rv_24m'
'total_cu_tl'
'acc_open_past_24mths'
'bc_open_to_buy'
'mo_sin_old_il_acct'
'mo_sin_old_rev_tl_op'
'mo_sin_rcnt_rev_tl_op'
'mo_sin_rcnt_tl'
'mths_since_recent_bc'
'num_actv_bc_tl'
'num_actv_rev_tl'
'num_bc_sats'
'num_bc_tl'
'num_il_tl'
'num_op_rev_tl'
'num_rev_accts'
'num_rev_tl_bal_gt_0'
'num_sats'
'num_tl_op_past_12m'
'open_acc'
'total_acc'
'mort_acc'
'issue_d'
"""

"\nDropping the following columns\n'id' - Has all null values\n'member_id' - Has all null values\n'url' - Has all null values\n'policy_code' - Has only one value '1' for all observations\n'desc' - Text descriptions\n'emp_title' - Title of employee\n'emp_length' - Employment length\n'disbursement method' - Cash or Card\n'purpose' - Text describing purpose of loan\n'earliest_cr_line' - The month the borrower's earliest credit line was opened\n'total_rec_late_fee'\n'collection_recovery_fee'\n'mths_since_rcnt_il'\n'open_il_12m'\n'open_il_24m'\n'open_rv_12m'\n'open_rv_24m'\n'total_cu_tl'\n'acc_open_past_24mths'\n'bc_open_to_buy'\n'mo_sin_old_il_acct'\n'mo_sin_old_rev_tl_op'\n'mo_sin_rcnt_rev_tl_op'\n'mo_sin_rcnt_tl'\n'mths_since_recent_bc'\n'num_actv_bc_tl'\n'num_actv_rev_tl'\n'num_bc_sats'\n'num_bc_tl'\n'num_il_tl'\n'num_op_rev_tl'\n'num_rev_accts'\n'num_rev_tl_bal_gt_0'\n'num_sats'\n'num_tl_op_past_12m'\n'open_acc'\n'total_acc'\n'mort_acc'\n'issue_d'\n"

In [27]:
df.drop(['id','member_id','url','policy_code','desc','emp_title','emp_length','disbursement_method','purpose','earliest_cr_line','total_rec_late_fee','collection_recovery_fee','mths_since_rcnt_il','open_il_12m','open_il_24m','open_rv_12m','open_rv_24m','total_cu_tl','acc_open_past_24mths','bc_open_to_buy','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mths_since_recent_bc','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_op_past_12m','open_acc','total_acc','mort_acc','issue_d'], axis=1, inplace=True)

In [28]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,RENT,55000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,MORTGAGE,90000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,MORTGAGE,59280.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,MORTGAGE,92000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,MORTGAGE,57250.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.shape

(2260668, 106)

#### Handle missing values

In [30]:
# If a column has more than 95% missing values, drop that column
#column_list = df.columns.values.tolist()
#df_len = len(df)
#threshold = round(0.05 * df_len) # 5% non null values
#drop_list = []

#for column_name in column_list:
#    if df[column_name].count() < threshold:
#        drop_list.append(column_name)

In [31]:
#print("Columns having more than 95% missing values\n\n" + str(drop_list) + "\n")

In [32]:
# len(drop_list)

# Note:  There are 31 columns with >95% missing values.  But, many of these columns appear to be related to loan defaults.  Hence, decided to keep all columns.

In [33]:
#df.drop(drop_list, axis=1, inplace=True)

In [34]:
#df.shape

#### Check for duplicate rows

In [35]:
duplicatedRowsDF = df[df.duplicated()]
duplicatedRowsDF

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, home_ownership, annual_inc, verification_status, loan_status, pymnt_plan, title, zip_code, addr_state, dti, delinq_2yrs, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, pub_rec, revol_bal, revol_util, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, recoveries, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, total_bal_il, il_util, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, inq_last_12m, avg_cur_bal, bc_util, chargeoff_within_12_mths, delinq_amnt, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, revol_bal_joint, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med, sec_app_mths_since_last_major_derog, hardship_flag, hardship_type, hardship_reason, hardship_status, deferral_term, hardship_amount, hardship_start_date, hardship_end_date, payment_plan_start_date, hardship_length, hardship_dpd, hardship_loan_status, orig_projected_additional_accrued_interest, hardship_payoff_balance_amount, hardship_last_payment_amount, debt_settlement_flag, ...]
Index: []

[0 rows x 106 columns]

In [36]:
df_desc = df.describe()
df_desc = df_desc.T
df_desc

,count,mean,std,min,25%,50%,75%,max
loan_amnt,2260668.0,15046.931228,9190.245488,500.00,8000.00,12900.000,20000.0000,40000.00
funded_amnt,2260668.0,15041.664057,9188.413022,500.00,8000.00,12875.000,20000.0000,40000.00
funded_amnt_inv,2260668.0,15023.437624,9192.331807,0.00,8000.00,12800.000,20000.0000,40000.00
int_rate,2260668.0,13.092913,4.832114,5.31,9.49,12.620,15.9900,30.99
installment,2260668.0,445.807646,267.173725,4.93,251.65,377.990,593.3200,1719.83
...,...,...,...,...,...,...,...,...
hardship_payoff_balance_amount,10613.0,11628.036442,7615.161123,55.73,5628.73,10044.220,16114.9400,40306.41
hardship_last_payment_amount,10613.0,193.606331,198.694368,0.01,43.78,132.890,284.1800,1407.86
settlement_amount,33056.0,5030.606922,3692.027842,44.21,2227.00,4172.855,6870.7825,33601.00
settlement_percentage,33056.0,47.775600,7.336379,0.20,45.00,45.000,50.0000,521.35
settlement_term,33056.0,13.148596,8.192319,0.00,6.00,14.000,18.0000,181.00

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 106 entries, loan_amnt to settlement_term
dtypes: float64(74), int64(3), object(29)
memory usage: 1.8+ GB

In [38]:
column_list = df.columns.values.tolist()
df_len = len(df)

In [39]:
print("Filling NaNs with 0 for all numeric columns\n")
for column_name in column_list:
    if is_numeric_dtype(df[column_name]):
        df[column_name].fillna(0, inplace=True)

Filling NaNs with 0 for all numeric columns

In [40]:
from pandas.api.types import is_string_dtype

obj_list = []

print("Value counts for object type columns:")
for column_name in column_list:
    if is_string_dtype(df[column_name]):
        obj_list.append(column_name)
        print("Column = " + column_name + ":\n", df[column_name].value_counts(), "\n")

Value counts for object type columns:
Column = term:
  36 months    1609754
 60 months     650914
Name: term, dtype: int64

Column = grade:
 B    663557
C    650053
A    433027
D    324424
E    135639
F     41800
G     12168
Name: grade, dtype: int64

Column = sub_grade:
 C1    145903
B5    140288
B4    139793
B3    131514
C2    131116
C3    129193
C4    127115
B2    126621
B1    125341
C5    116726
A5    107617
A4     95874
A1     86790
D1     81787
A3     73184
D2     72899
A2     69562
D3     64819
D4     56896
D5     48023
E1     33573
E2     29924
E3     26708
E4     22763
E5     22671
F1     13413
F2      9305
F3      7791
F4      6124
F5      5167
G1      4106
G2      2688
G3      2094
G4      1712
G5      1568
Name: sub_grade, dtype: int64

Column = home_ownership:
 MORTGAGE    1111450
RENT         894929
OWN          253057
ANY             996
OTHER           182
NONE             54
Name: home_ownership, dtype: int64

Column = verification_status:
 Source Verified    886231
Not Verified       744806
Verified           629631
Name: verification_status, dtype: int64

Column = loan_status:
 Fully Paid                                             1041952
Current                                                 919695
Charged Off                                             261655
Late (31-120 days)                                       21897
In Grace Period                                           8952
Late (16-30 days)                                         3737
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     31
Name: loan_status, dtype: int64

Column = pymnt_plan:
 n    2259986
y        682
Name: pymnt_plan, dtype: int64

Column = title:
 Debt consolidation               1153293
Credit card refinancing           469691
Home improvement                  137437
Other                             127714
Major purchase                     44840
                                  ...
Visa card reduction                    1
cleanslatebill                         1
spacialvaction                         1
Pay off higher interest bills          1
planb consolidation                    1
Name: title, Length: 63155, dtype: int64

Column = zip_code:
 112xx    23908
945xx    23782
750xx    23649
606xx    21192
300xx    20497
         ...
429xx        1
889xx        1
509xx        1
885xx        1
202xx        1
Name: zip_code, Length: 956, dtype: int64

Column = addr_state:
 CA    314533
NY    186389
TX    186335
FL    161991
IL     91173
NJ     83132
PA     76939
OH     75132
GA     74196
VA     62954
NC     62730
MI     58770
MD     54008
AZ     53777
MA     51784
CO     48183
WA     47060
MN     39517
IN     37515
MO     36084
CT     35785
TN     35483
NV     32657
WI     29877
SC     28003
AL     27284
OR     26789
LA     25759
KY     21887
OK     20691
KS     19109
AR     17074
UT     14993
MS     12639
NM     11986
NH     11142
HI     10668
RI     10005
WV      8351
NE      7819
DE      6458
MT      6299
DC      5356
AK      5231
ME      4974
VT      4937
WY      4748
SD      4549
ID      4308
ND      3591
IA        14
Name: addr_state, dtype: int64

Column = initial_list_status:
 w    1535467
f     725201
Name: initial_list_status, dtype: int64

Column = last_pymnt_d:
 Feb-2019    934725
Jan-2019     52576
Aug-2018     39615
Mar-2018     38269
Oct-2018     37468
             ...
Jun-2008        20
Mar-2008        18
Jan-2008        11
Feb-2008         8
Dec-2007         2
Name: last_pymnt_d, Length: 135, dtype: int64

Column = next_pymnt_d:
 Mar-2019    953821
Feb-2019       406
Mar-2011       107
Apr-2011       101
Feb-2011        91
             ...
Aug-2014         2
Feb-2018         1
May-2008         1
Mar-2015         1
Aug-2018         1
Name: next_pymnt_d, Length: 105, dtype: int64

Column = last_credit_pull_d:
 Feb-2019    1398266
Jan-2019      78011
Jul-2018      56612
Dec-2018      52077
Oct-2018      51366
             ...
Dec-2007          2
Feb-2008          2
Jun-2008          1
Jul-2007          1
Jul-2008          1
Name: last_credit_pull_d, Length: 140, dtype: int64

Column = application_type:
 Individual    2139958
Joint App      120710
Name: application_type, dtype: int64

Column = verification_status_joint:
 Not Verified       57403
Source Verified    34827
Verified           23500
Name: verification_status_joint, dtype: int64

Column = sec_app_earliest_cr_line:
 Aug-2006    998
Aug-2005    894
Sep-2006    894
Sep-2005    889
Sep-2004    848
           ...
Dec-1969      1
Dec-1954      1
Feb-1963      1
Oct-1962      1
Jul-1968      1
Name: sec_app_earliest_cr_line, Length: 663, dtype: int64

Column = hardship_flag:
 N    2259783
Y        885
Name: hardship_flag, dtype: int64

Column = hardship_type:
 INTEREST ONLY-3 MONTHS DEFERRAL    10613
Name: hardship_type, dtype: int64

Column = hardship_reason:
 NATURAL_DISASTER         2965
EXCESSIVE_OBLIGATIONS    2079
UNEMPLOYMENT             1834
INCOME_CURTAILMENT       1279
MEDICAL                  1249
REDUCED_HOURS             629
DIVORCE                   218
FAMILY_DEATH              206
DISABILITY                154
Name: hardship_reason, dtype: int64

Column = hardship_status:
 COMPLETED    7541
BROKEN       2187
ACTIVE        885
Name: hardship_status, dtype: int64

Column = hardship_start_date:
 Sep-2017    2444
Oct-2017    1077
Oct-2018     594
Nov-2017     466
Aug-2018     463
Jan-2019     431
Sep-2018     422
Nov-2018     420
Jun-2017     400
May-2017     373
Aug-2017     360
Dec-2017     359
Jul-2018     359
Jan-2018     348
Dec-2018     339
Feb-2019     297
Jul-2017     271
Jun-2018     260
Feb-2018     242
Mar-2018     238
May-2018     216
Apr-2018     205
Feb-2017      11
Apr-2017       9
Mar-2017       6
Jan-2017       3
Name: hardship_start_date, dtype: int64

Column = hardship_end_date:
 Dec-2017    1756
Nov-2017    1325
Jan-2018     749
Jan-2019     518
Dec-2018     509
Feb-2019     471
Nov-2018     413
Feb-2018     401
Oct-2018     397
Oct-2017     396
Aug-2017     386
Sep-2017     368
Apr-2019     367
Mar-2018     356
Mar-2019     315
Sep-2018     299
Apr-2018     295
Aug-2018     266
May-2018     253
Jul-2018     212
Jun-2018     210
Jul-2017     174
May-2019     101
Jun-2017      50
May-2017      16
Apr-2017       6
Mar-2017       4
Name: hardship_end_date, dtype: int64

Column = payment_plan_start_date:
 Sep-2017    1715
Oct-2017    1629
Nov-2017     640
Oct-2018     538
Nov-2018     481
Aug-2018     456
Sep-2018     416
Dec-2017     413
Jun-2017     394
Feb-2019     387
Dec-2018     379
Jan-2019     368
Jul-2017     343
Jan-2018     329
Feb-2018     307
Jul-2018     297
Aug-2017     294
Jun-2018     231
Apr-2018     218
Mar-2018     218
May-2017     217
May-2018     216
Mar-2019     102
Mar-2017      11
Feb-2017       9
Apr-2017       5
Name: payment_plan_start_date, dtype: int64

Column = hardship_loan_status:
 Late (16-30 days)     4622
In Grace Period       2806
Current               2737
Late (31-120 days)     433
Issued                  15
Name: hardship_loan_status, dtype: int64

Column = debt_settlement_flag:
 N    2227612
Y      33056
Name: debt_settlement_flag, dtype: int64

Column = debt_settlement_flag_date:
 Feb-2019    2730
Jan-2019    2617
Oct-2018    2426
Dec-2018    2317
Nov-2018    2277
            ...
Dec-2012       1
Jan-2014       1
Feb-2011       1
Oct-2011       1
Nov-2011       1
Name: debt_settlement_flag_date, Length: 82, dtype: int64

Column = settlement_status:
 ACTIVE      14811
COMPLETE    13517
BROKEN       4728
Name: settlement_status, dtype: int64

Column = settlement_date:
 Jan-2019    1725
Oct-2018    1532
Mar-2018    1407
Sep-2018    1406
Nov-2018    1400
            ...
Mar-2012       1
Feb-2010       1
Jul-2011       1
Mar-2009       1
Jan-2012       1
Name: settlement_date, Length: 89, dtype: int64

In [41]:
print("Dropping last_pymnt_d, next_pymnt_d, last_credit_pull_d, sec_app_earliest_cr_line, hardship_start_date, hardship_end_date, payment_plan_start_date, debt_settlement_flag_date, settlement_date")
df.drop(['last_pymnt_d','next_pymnt_d','last_credit_pull_d','sec_app_earliest_cr_line','hardship_start_date','hardship_end_date','payment_plan_start_date','debt_settlement_flag_date','settlement_date'], axis=1, inplace=True)

Dropping last_pymnt_d, next_pymnt_d, last_credit_pull_d, sec_app_earliest_cr_line, hardship_start_date, hardship_end_date, payment_plan_start_date, debt_settlement_flag_date, settlement_date

In [42]:
df.shape

(2260668, 97)

In [43]:
df.to_csv("data\Cap2_step2_output.csv")