# Capstone 2 - Lending Club Loan Defaults Prediction¶

# Pre Processing and Training Data Development


Pre Processing and Training Data Development is the fourth step in the Data Science Method.  The following will be performed in this step:

1. Create dummy or indicator features for categorical variables
2. Standardize the magnitude of numeric features
3. Split into testing and training datasets
4. Apply scaler to the testing set

In [1]:
#load python packages
import os
import pandas as pd
import pandas.api.types as ptypes
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import warnings # For handling error messages.
warnings.simplefilter(action="ignore", category=FutureWarning)

In [2]:
# Read data output created in the EDA step
df = pd.read_csv("../EDA/data/Cap2_step3_output.csv", dtype={'verification_status_joint':object,'hardship_type':object, 'hardship_reason':object, 'hardship_status':object, 'hardship_loan_status':object, 'settlement_status':object}, index_col="Unnamed: 0")
df.head(5)

,loan_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,pub_rec,revol_bal,...,initial_list_status,application_type,verification_status_joint,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_loan_status,debt_settlement_flag,settlement_status
0,2500,13.56,55000.0,18.24,0.0,1.0,0.0,45.0,1.0,4341,...,w,Individual,NaN,N,NaN,NaN,NaN,NaN,N,NaN
1,30000,18.94,90000.0,26.52,0.0,0.0,71.0,75.0,1.0,12315,...,w,Individual,NaN,N,NaN,NaN,NaN,NaN,N,NaN
2,5000,17.97,59280.0,10.51,0.0,0.0,0.0,0.0,0.0,4599,...,w,Individual,NaN,N,NaN,NaN,NaN,NaN,N,NaN
3,4000,18.94,92000.0,16.74,0.0,0.0,0.0,0.0,0.0,5468,...,w,Individual,NaN,N,NaN,NaN,NaN,NaN,N,NaN
4,30000,16.14,57250.0,26.35,0.0,0.0,0.0,0.0,0.0,829,...,w,Individual,NaN,N,NaN,NaN,NaN,NaN,N,NaN

In [3]:
df.shape

(2150627, 87)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2150627 entries, 0 to 2260667
Data columns (total 87 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   loan_amnt                                   int64
 1   int_rate                                    float64
 2   annual_inc                                  float64
 3   dti                                         float64
 4   delinq_2yrs                                 float64
 5   inq_last_6mths                              float64
 6   mths_since_last_delinq                      float64
 7   mths_since_last_record                      float64
 8   pub_rec                                     float64
 9   revol_bal                                   int64
 10  revol_util                                  float64
 11  out_prncp                                   float64
 12  total_pymnt                                 float64
 13  total_rec_int                               float64
 14  recoveries                                  float64
 15  last_pymnt_amnt                             float64
 16  collections_12_mths_ex_med                  float64
 17  mths_since_last_major_derog                 float64
 18  annual_inc_joint                            float64
 19  dti_joint                                   float64
 20  acc_now_delinq                              float64
 21  tot_coll_amt                                float64
 22  tot_cur_bal                                 float64
 23  open_acc_6m                                 float64
 24  open_act_il                                 float64
 25  total_bal_il                                float64
 26  il_util                                     float64
 27  max_bal_bc                                  float64
 28  all_util                                    float64
 29  total_rev_hi_lim                            float64
 30  inq_fi                                      float64
 31  inq_last_12m                                float64
 32  avg_cur_bal                                 float64
 33  bc_util                                     float64
 34  chargeoff_within_12_mths                    float64
 35  delinq_amnt                                 float64
 36  mths_since_recent_bc_dlq                    float64
 37  mths_since_recent_inq                       float64
 38  mths_since_recent_revol_delinq              float64
 39  num_accts_ever_120_pd                       float64
 40  num_tl_120dpd_2m                            float64
 41  num_tl_30dpd                                float64
 42  num_tl_90g_dpd_24m                          float64
 43  pct_tl_nvr_dlq                              float64
 44  percent_bc_gt_75                            float64
 45  pub_rec_bankruptcies                        float64
 46  tax_liens                                   float64
 47  total_bal_ex_mort                           float64
 48  total_bc_limit                              float64
 49  total_il_high_credit_limit                  float64
 50  revol_bal_joint                             float64
 51  sec_app_inq_last_6mths                      float64
 52  sec_app_mort_acc                            float64
 53  sec_app_open_acc                            float64
 54  sec_app_revol_util                          float64
 55  sec_app_open_act_il                         float64
 56  sec_app_chargeoff_within_12_mths            float64
 57  sec_app_collections_12_mths_ex_med          float64
 58  sec_app_mths_since_last_major_derog         float64
 59  deferral_term                               float64
 60  hardship_amount                             float64
 61  hardship_dpd                                float64
 62  orig_projected_additional_accrued_interest  float64
 63  hardship_last_payment_amount                float64
 64  settlement_amount                           float64
 65  settlement_percentage                       float64
 66  settlement_term                             float64
 67  term                                        object
 68  grade                                       object
 69  sub_grade                                   object
 70  home_ownership                              object
 71  verification_status                         object
 72  loan_status                                 object
 73  pymnt_plan                                  object
 74  title                                       object
 75  zip_code                                    object
 76  addr_state                                  object
 77  initial_list_status                         object
 78  application_type                            object
 79  verification_status_joint                   object
 80  hardship_flag                               object
 81  hardship_type                               object
 82  hardship_reason                             object
 83  hardship_status                             object
 84  hardship_loan_status                        object
 85  debt_settlement_flag                        object
 86  settlement_status                           object
dtypes: float64(65), int64(2), object(20)
memory usage: 1.4+ GB

In [5]:
df.describe()

,loan_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,pub_rec,revol_bal,...,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_dpd,orig_projected_additional_accrued_interest,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,...,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06,2.150627e+06
mean,1.455534e+04,1.315755e+01,6.911525e+04,1.910219e+01,3.019622e-01,5.717709e-01,1.680994e+01,1.166151e+01,1.972904e-01,1.522785e+04,...,3.856550e-03,6.066408e-01,1.407915e-02,7.129102e-01,6.392043e-02,1.664888e+00,8.860760e-01,7.394659e+01,7.149019e-01,1.966361e-01
std,8.859252e+03,4.824323e+00,3.159676e+04,1.439575e+01,8.613410e-01,8.803719e-01,2.308542e+01,2.867152e+01,5.606472e-01,1.705110e+04,...,9.259225e-02,5.605731e+00,2.050347e-01,1.360392e+01,1.144538e+00,3.550980e+01,1.851189e+01,7.449337e+02,5.868766e+00,1.883835e+00
min,5.000000e+02,5.310000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,9.670000e+00,4.500000e+04,1.219000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.810000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.200000e+04,1.269000e+01,6.400000e+04,1.815000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.096600e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+04,1.599000e+01,8.800000e+04,2.476000e+01,0.000000e+00,1.000000e+00,3.000000e+01,0.000000e+00,0.000000e+00,1.927500e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.000000e+04,3.099000e+01,1.635000e+05,9.990000e+02,5.800000e+01,3.300000e+01,2.260000e+02,1.290000e+02,8.600000e+01,9.597540e+05,...,2.300000e+01,1.850000e+02,3.000000e+00,9.439400e+02,3.700000e+01,2.680890e+03,1.407860e+03,3.360100e+04,5.213500e+02,1.810000e+02

In [6]:
df['zip_code'].value_counts()

112xx    22865
945xx    21787
750xx    21749
606xx    20025
300xx    19156
         ...
513xx        1
643xx        1
862xx        1
429xx        1
552xx        1
Name: zip_code, Length: 955, dtype: int64

## 'loan_status' is the response variable.
## Plan to predict fully paid and charged off status
## Features of interest are: 
'tot_cur_bal', 'annual_inc_joint', 'annual_inc', 'mths_since_last_record', 'mths_since_last_major_derog', 'collections_12_mths_ex_med', 'pub_rec_bankruptcies', 'tax_liens', '
## Features to not consider are
'title','zip_code','addr_state'

In [8]:
df_sel = df.drop(['title', 'zip_code', 'addr_state'], axis=1)

In [9]:
# Create a list of object columns
cols_obj = []
for col in df_sel.columns:
    if df_sel[col].dtype == object:
        cols_obj.append(col)
cols_obj

['term',
 'grade',
 'sub_grade',
 'home_ownership',
 'verification_status',
 'loan_status',
 'pymnt_plan',
 'initial_list_status',
 'application_type',
 'verification_status_joint',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_loan_status',
 'debt_settlement_flag',
 'settlement_status']

In [10]:
df_sel = pd.concat([df_sel.drop(cols_obj, axis=1), pd.get_dummies(df_sel[cols_obj])], axis=1)
df_sel.head(5)

,loan_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,pub_rec,revol_bal,...,hardship_loan_status_Current,hardship_loan_status_In Grace Period,hardship_loan_status_Issued,hardship_loan_status_Late (16-30 days),hardship_loan_status_Late (31-120 days),debt_settlement_flag_N,debt_settlement_flag_Y,settlement_status_ACTIVE,settlement_status_BROKEN,settlement_status_COMPLETE
0,2500,13.56,55000.0,18.24,0.0,1.0,0.0,45.0,1.0,4341,...,0,0,0,0,0,1,0,0,0,0
1,30000,18.94,90000.0,26.52,0.0,0.0,71.0,75.0,1.0,12315,...,0,0,0,0,0,1,0,0,0,0
2,5000,17.97,59280.0,10.51,0.0,0.0,0.0,0.0,0.0,4599,...,0,0,0,0,0,1,0,0,0,0
3,4000,18.94,92000.0,16.74,0.0,0.0,0.0,0.0,0.0,5468,...,0,0,0,0,0,1,0,0,0,0
4,30000,16.14,57250.0,26.35,0.0,0.0,0.0,0.0,0.0,829,...,0,0,0,0,0,1,0,0,0,0

In [15]:
cols = df_sel.columns

In [19]:
cols[90:120]

Index(['sub_grade_C5', 'sub_grade_D1', 'sub_grade_D2', 'sub_grade_D3',
       'sub_grade_D4', 'sub_grade_D5', 'sub_grade_E1', 'sub_grade_E2',
       'sub_grade_E3', 'sub_grade_E4', 'sub_grade_E5', 'sub_grade_F1',
       'sub_grade_F2', 'sub_grade_F3', 'sub_grade_F4', 'sub_grade_F5',
       'sub_grade_G1', 'sub_grade_G2', 'sub_grade_G3', 'sub_grade_G4',
       'sub_grade_G5', 'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified'],
      dtype='object')

In [11]:
from sklearn import preprocessing as ppg

y = df_sel['loan_status']
X = df_sel.drop(['loan_status'], axis=1)
scaler = ppg.StandardScaler().fit(X)
X_scaled=scaler.transform(X)

KeyError: 'loan_status'

In [ ]:
from sklearn.model_selection import train_test_split

y = y.ravel()
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)