# Relax Challenge

In [1]:
#load python packages
import os
import pandas as pd
import pandas.api.types as ptypes
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import warnings # For handling error messages.
warnings.simplefilter(action="ignore")

In [49]:
df_usr_eng = pd.read_csv("takehome_user_engagement.csv")
df_usr_eng.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [50]:
df_usr_eng.shape

(207917, 3)

In [51]:
df_usr_eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [52]:
df_usr_eng['time_stamp'] = pd.to_datetime(df_usr_eng['time_stamp'])

In [53]:
df_usr_eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  datetime64[ns]
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [54]:
df_usr_eng['visited'].value_counts()

1    207917
Name: visited, dtype: int64

In [55]:
# Convert dataframe to time series
df_usr_eng.set_index('time_stamp', inplace=True)
df_usr_eng.head()

                     user_id  visited
time_stamp
2014-04-22 03:53:30        1        1
2013-11-15 03:45:04        2        1
2013-11-29 03:45:04        2        1
2013-12-09 03:45:04        2        1
2013-12-25 03:45:04        2        1

In [80]:
agg_W = pd.DataFrame(df_usr_eng.groupby(['user_id', pd.Grouper(freq='1W')])['visited'].sum()).sort_values('user_id')

In [81]:
agg_W.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 68807 entries, (1, Timestamp('2014-04-27 00:00:00', freq='W-SUN')) to (12000, Timestamp('2014-01-26 00:00:00', freq='W-SUN'))
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   visited  68807 non-null  int64
dtypes: int64(1)
memory usage: 809.0 KB

In [82]:
agg_W.head()

                    visited
user_id time_stamp
1       2014-04-27        1
2       2013-11-17        1
        2013-12-01        1
        2013-12-15        1
        2013-12-29        1

In [89]:
df_adopted_users = agg_W[agg_W['visited'] == 3]

In [90]:
df_adopted_users.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9415 entries, (2, Timestamp('2014-02-09 00:00:00', freq='W-SUN')) to (11988, Timestamp('2014-04-06 00:00:00', freq='W-SUN'))
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   visited  9415 non-null   int64
dtypes: int64(1)
memory usage: 171.0 KB

In [91]:
df_adopted_users.head()

                    visited
user_id time_stamp
2       2014-02-09        3
10      2013-10-13        3
        2013-12-15        3
        2013-12-08        3
        2013-11-10        3

In [92]:
df_adopted_users = df_adopted_users.reset_index(level=['user_id'])
df_adopted_users.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9415 entries, 2014-02-09 to 2014-04-06
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  9415 non-null   int64
 1   visited  9415 non-null   int64
dtypes: int64(2)
memory usage: 220.7 KB

In [93]:
df_adopted_users.head()

            user_id  visited
time_stamp
2014-02-09        2        3
2013-10-13       10        3
2013-12-15       10        3
2013-12-08       10        3
2013-11-10       10        3

In [105]:
df_adopted_users['user_id'].unique()

array([    2,    10,    20, ..., 11969, 11975, 11988], dtype=int64)

In [107]:
adopted_users = df_adopted_users['user_id'].unique().tolist()

In [108]:
len(adopted_users)

1405

# There are 1405 adopted users

In [94]:
df_users = pd.read_csv("takehome_users.csv", encoding = "ISO-8859-1")
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [95]:
df_users.shape

(12000, 10)

In [96]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [97]:
df_users['last_session_creation_time'] = df_users['last_session_creation_time'].fillna(0)

In [98]:
df_users['creation_time'] = pd.to_datetime(df_users['creation_time'])

In [99]:
from datetime import datetime, timedelta
start = datetime(1970, 1, 1)  # Unix epoch start time
df_users['last_session_creation_time'] = df_users.last_session_creation_time.apply(lambda x: start + timedelta(seconds=x))

In [100]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  12000 non-null  datetime64[ns]
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(3)
memory usage: 937.6+ KB

In [101]:
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0

In [102]:
df_users['last_session_creation_time'].describe()

count                   12000
unique                   8822
top       1970-01-01 00:00:00
freq                     3177
first     1970-01-01 00:00:00
last      2014-06-06 14:58:50
Name: last_session_creation_time, dtype: object

# Separate adopted users

In [110]:
df = df_users[df_users['object_id'].isin(adopted_users)]

In [111]:
df.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,2014-06-03 22:08:03,1,1,318,4143.0
19,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,2014-05-29 11:46:38,0,0,58,NaN
32,33,2014-03-11 06:29:09,Araujo José,JoseMartinsAraujo@cuvox.de,GUEST_INVITE,2014-05-31 06:29:09,0,0,401,79.0
41,42,2012-11-11 19:05:07,Pinto Giovanna,GiovannaCunhaPinto@cuvox.de,SIGNUP,2014-05-25 19:05:07,1,0,235,NaN

In [112]:
df.shape

(1405, 10)

In [122]:
df['opted_in_to_mailing_list'].value_counts(dropna=False)

0    1033
1     372
Name: opted_in_to_mailing_list, dtype: int64

In [121]:
df['enabled_for_marketing_drip'].value_counts(dropna=False)

0    1183
1     222
Name: enabled_for_marketing_drip, dtype: int64

In [120]:
df['org_id'].value_counts(dropna=False)

7      16
1      13
2      13
13     13
9      12
       ..
180     1
204     1
220     1
223     1
171     1
Name: org_id, Length: 395, dtype: int64

In [123]:
df['creation_source'].value_counts(dropna=False)

ORG_INVITE            480
GUEST_INVITE          311
SIGNUP                268
SIGNUP_GOOGLE_AUTH    200
PERSONAL_PROJECTS     146
Name: creation_source, dtype: int64

In [124]:
df['invited_by_user_id'].value_counts(dropna=False)

NaN        614
2354.0       4
9510.0       3
2771.0       3
3623.0       3
          ...
10307.0      1
9162.0       1
2562.0       1
11800.0      1
316.0        1
Name: invited_by_user_id, Length: 665, dtype: int64

In [118]:
df.columns

Index(['object_id', 'creation_time', 'name', 'email', 'creation_source',
       'last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id'],
      dtype='object')

# Based on the above analysis, the features that can predict future adoption are:
1. creation_source
2. opted_in_to_mailing_list
3. enabled_for_marketing_drip
4. org_id